body {
    background-image: url("./images/whiteabstract.avif");
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(73, 72, 72, 0.24);
    background-blend-mode: overlay;
}

 .navbar {
   font-weight: bold;
   text-align: center;
   border-radius: 20px 20px 20px 20px;
   width:fit-content;
   background-color:transparent;
   
}

#navitem{
   background-color:rgba(156, 156, 156, 0.781);
   font-weight: bolder;
   font-size: larger;
   text-align: center;
   border-radius: 40px 40px 40px 40px;
}


#navitem:hover {
   background-color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    border-radius: 40px 40px 40px 40px;
}

.navbar-toggler{
   background-color: rgb(156, 156, 156);
}

#btntwo:hover {
  color: rgb(0, 0, 0);
  background-color: chartreuse;
}

#blogprototype{
   height: auto;
   width: 800px;
}

